/*comenten su codigo coloquen a que seccion estan dando estilos y su nombre

		-->PALETA DE COLORES<--
- AMARILLO CLARO = #F3D352
- AMARILLO = #F6D238
- NARANJA = #F38016
- LADRILLO = #F34906
- NEGRO = #0E1526
- degradado o gradiante = #F3D352, #F6D238, #F38016, #F34906*/


/*==============DUBRASSKA==============*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Atomic Age', cursive;
}
/*--------------vv-navbar_inicio-vv------------------------*/
.bar{
	background-color: #0E1526;
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 40px;
	z-index: 10;
	border-radius: 0;
	border:0;
	position: fixed;
}
.navbar {
  margin-bottom:0 !important;
}
.navbar-brand, .register, .log-in, .caret{
	color:#F34906;
}
a{
	color:#F38016;
}
.find{
	border-radius: 10px 10px 10px 10px;
    padding-top:2%;
    padding-left: 8%;
    height: 20%;
}

/*--------------^^-navbar_cierre-^^------------------------*/

/*--------------vv-Carrusel_inicio-vv------------------------*/
#myCarousel{
	height: 80%;
}
/*--------------^^-Cierre_Carrusel-^^------------------------*/
.rol{
	border-radius: 50px 50px 50px 50px;
	display: inline-block;
	padding: 0;
	margin-left: 12%;
}
.user{
	width: 20%;
	height: 20%;
	display: inline-block;
}
nav li a {
	position: relative;
	display: inline-block;
	padding: 0;
}
a.badge{
	display: inline-block;
	width: 10%;
}
/*^^^^^^^^^^^^^^DUBRASSKA^^^^^^^^^^^^^^*/

/*comenten su codigo
coloquen a que seccion estan dando estilos
y su nombre*/

/*------------PROFILE STYLE------------*/

#profile {
   font-family: 'Open Sans', sans-serif;
}
.card-header {
   background: none;
   padding: 0;
   
   border-style: none;
}
.card-img {
  width: 100%;
  height: 30em;
}
.card-body {
   
   margin-top: -45%;
   color: #9FA7A9;
   margin: 15px;
}
.card-title {
  font-weight: 600;
  color: #414345;
}
.card-text {
  margin-top: 8px;
  font-weight: 600;
  line-height: 30px;
}
.card:hover {
      box-shadow: 0 8px 18px rgba(0, 0, 0, 0.10), 0 8px 8px rgba(0, 0, 0, 0.18);
}  
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8pt;
  border-style: none;
  overflow: hidden;
  transform: scale(0.8);
  margin-top: -60px;
}
hr.style-eight {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}
hr.style-eight:after {
  content: "ยง";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}
.orange-button{
  width: 100px;
  -webkit-transition: background-color 1s , color 1s; /* For Safari 3.1 to 6.0 */
  transition: background-color 1s , color 1s;
  min-height: 20px;
  background-color: rgb(231, 99, 23);
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  font-weight: lighter;
  margin: 20px 20px 15px 0px;
  padding: 5px 0px;
  display: inline-block;
}
.orange-button:hover{
  background-color: #dadada;
  color: rgb(231, 99, 23);
}

/*----------END PROFILE STYLE----------*/

